<section class="container">
    <header>
        <a href="#" class="logo">Brand Name</a>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
            </ul>
        </nav>
    </header>
    <section class="CScontainer">
        <img src="img/curve.png" class="wave">
        <div class="contentBx">
            <h2>Coming Soon</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet lectus enim, ut feugiat est
                suscipit ut.
                Mauris ac volutpat tortor. Phasellus tincidunt purus ac velit imperdiet feugiat. Proin vestibulum nisi
                tellus,
                quis semper libero tempus eu. Phasellus pretium odio at eros dignissim hendrerit. Proin ac leo ultrices,
                viverra
                mi non, dapibus lacus. Vestibulum enim erat, blandit eget magna et, commodo elementum neque. Cras
                lobortis vel arcu
                quis ultrices.
            </p>
            <div class="countdown">
                <div class="time"><div id="day"></div><span>Days</span></div>
                <div class="time"><div id="hour"></div><span>Hours</span></div>
                <div class="time"><div id="minute"></div><span>Minutes</span></div>
                <div class="time"><div id="second"></div><span>Seconds</span></div>
            </div>
            <a href="#">Notify Me !</a>
        </div>
        <div class="imgBx">
            <img src="img/man.png">
        </div>
        <ul class="sci">
            <li><a href="#"><img src="img/facebook.png"></a></li>
            <li><a href="#"><img src="img/twitter.png"></a></li>
            <li><a href="#"><img src="img/instagram.png"></a></li>
        </ul>
    </section>
</section>