<!-- ### SIDEBAR MENU ### -->

<div class="sidebar open" id="sidebar">
  <div class="logo-details">
    <i class='bx bxs-analyse bx-spin icon' id="WebsiteLogo" routerLink="/"></i>
    <div class="logo_name">Macaron's Project</div>
    <i class='bx bx-menu-alt-right' id="menuBtn"></i>
  </div>
  <ul class="nav-list" id="nav-list">
    <li>
      <i class='bx bx-search' id="searchBtn"></i>
      <input type="text" placeholder="Search...">
      <span class="tooltip">Search</span>
    </li>
    <li id="ComingSoon">
      <a routerLink="/ComingSoon">
        <i class='bx bx-rocket' id="classic"></i>
        <i class='bx bxs-rocket disable' id="active"></i>
        <span class="links_name">Coming Soon</span>
      </a>
      <span class="tooltip">Coming Soon</span>
    </li>
    <li id="PopupVideo">
      <a routerLink="/PopupVideo">
        <i class='bx bx-camera-movie' id="classic"></i>
        <i class='bx bxs-camera-movie disable' id="active"></i>
        <span class="links_name">Popup Video</span>
      </a>
      <span class="tooltip">Popup Video</span>
    </li>
    <li id="IsoDesign">
      <a routerLink="/IsoDesign">
        <i class='bx bx-layer' id="classic"></i>
        <i class='bx bxs-layer disable' id="active"></i>
        <span class="links_name">Isometric Design</span>
      </a>
      <span class="tooltip">Isometric Design</span>
    </li>
    <li id="Focus" class="actived">
      <a routerLink="/Focus">
        <i class='bx bx-camera disable' id="classic"></i>
        <i class='bx bxs-camera' id="active"></i>
        <span class="links_name">Focus</span>
      </a>
      <span class="tooltip">Focus</span>
    </li>
    <li id="Neumorphism">
      <a routerLink="/Neumorphism">
        <i class='bx bx-bar-chart-alt-2' id="classic"></i>
        <i class='bx bxs-bar-chart-alt-2 disable' id="active"></i>
        <span class="links_name">Neumorphism</span>
      </a>
      <span class="tooltip">Neumorphism</span>
    </li>
    <li id="AnalogClock">
      <a routerLink="/AnalogClock">
        <i class='bx bx-alarm' id="classic"></i>
        <i class='bx bxs-alarm disable' id="active"></i>
        <span class="links_name">AnalogClock</span>
      </a>
      <span class="tooltip">AnalogClock</span>
    </li>
    <li id="MagicScroll">
      <a routerLink="/MagicScroll">
        <i class='bx bx-mouse' id="classic"></i>
        <i class='bx bxs-mouse disable' id="active"></i>
        <span class="links_name">MagicScroll</span>
      </a>
      <span class="tooltip">MagicScroll</span>
    </li>

    <!-- ################### PROFILE ################### -->
    <li class="profile">
      <div class="profile-details" id="profile-details">
        <img src="./assets/img/PP.jpg" alt="profileImg">
        <div class="name_job">
          <div class="name">INQUIMBERT Yoann</div>
          <div class="job">Analyste développeur</div>
        </div>
      </div>
      <i class='bx bx-log-out' id="log_out"></i>
    </li>
  </ul>
</div>

<!-- ### END SIDEBAR MENU ### -->

<div class="content" role="main">
  <router-outlet (activate)="isToolbarVisible()"></router-outlet>
</div>