/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  background: #323232;
}

::-webkit-scrollbar {
  display: none;
}
body{
  margin: 0;
  background: #323232;
}

::-webkit-scrollbar {
  display: none;
}
body{
  margin: 0;
  background: #323232;
}

::-webkit-scrollbar {
  display: none;
}
